<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="http://vignette1.wikia.nocookie.net/adventuretimewithfinnandjake/images/7/76/Like_a_sir.png" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>
        <div class="row"  >
            <section>body</section>
        </div>
    </div>
</div>